#container {
  margin: 0 auto;
  width:1024px;
  min-height:500px;
  border-radius:5px;
  background: rgb(179,220,237); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,220,237,1)), color-stop(50%,rgba(41,184,229,1)), color-stop(100%,rgba(188,224,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}

#container-body {
  padding:10px;
}

li#icon {
  margin: 7px;
}

li#icon a {
  padding: 0 10px;
}

#banner img {
  border-radius: 10px 0 0 10px;
}

.hero-unit {
  margin-top: 60px;
}

.sign-in {
  padding: 40px;
}

.sign-in .inner-left {
  float: left;
  padding: 10px 30px 10px 10px;
  margin: 0px 10px 0px 0px;
  border-right: 1px solid grey;
  min-width: 250px;
  max-width: 450px;
}

.sign-in .inner-right a {
  margin: 100px 0px 0px 40px;
}

.sign-in .form-signin-heading {
  background: #2b3590;
  color: #eaeaea;
  font-family: Museo-300,garamond,serif;
  font-weight: normal;
  font-size: 1.8em;
  font-weight: normal;
  margin: 0px 0px 20px 0px;
  padding: 15px 25px;
  text-shadow: 1px 1px #000;
}

div.chatbox{
  padding: 0 12px;
}

.chatbox hr{
  margin: 15px 0;
}

.chat{
  max-height: 235px;
      overflow-y: scroll;
}

.chat-messages{
    height: 145px;
}

img.media-object{
  width: 100px;
  height: 100px;
}